# Ignore .env
.env

# Ignore all bytecode-compiled files
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/
.virtualenv/
.venv/

# Ignore all __pycache__ directories
__pycache__/

# Ignore other common directories
.idea/
.DS_Store
*.log